<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Edit Booking</h1>
        <form action="/updateBooking" method="post">
            <input type="hidden" name="id" value="<%= booking._id %>">
            <input type="hidden" name="selectedDate" value="<%= selectedDate %>">
            <div class="form-group">
                <label for="patientFirstName">Patient First Name:</label>
                <input type="text" class="form-control" id="patientFirstName" name="patientFirstName" value="<%= booking.patientFirstName %>" required>
            </div>

            <div class="form-group">
                <label for="patientSurname">Patient Surname:</label>
                <input type="text" class="form-control" id="patientSurname" name="patientSurname" value="<%= booking.patientSurname %>" required>
            </div>

            <div class="form-group">
                <label for="folderNumber">Folder Number:</label>
                <input type="text" class="form-control" id="folderNumber" name="folderNumber" value="<%= booking.folderNumber %>" required>
            </div>

            <div class="form-group">
                <label for="procedure">Surgical discipline and Procedure:</label>
                <input type="text" class="form-control" id="procedure" name="procedure" value="<%= booking.procedure %>" required>
            </div>

            <div class="form-group">
                <label for="reasonForBooking">Reason for Booking:</label>
                <input type="text" class="form-control" id="reasonForBooking" name="reasonForBooking" value="<%= booking.reasonForBooking %>" required>
            </div>

            <div class="form-group">
                <label for="anaesthetist">Anaesthetist on list:</label>
                <input type="text" class="form-control" id="anaesthetist" name="anaesthetist" value="<%= booking.anaesthetist %>" required>
            </div>

            <div class="form-group">
                <label for="anaesthetist">Booked by:</label>
                <input type="text" class="form-control" id="bookingPerson" name="bookingPerson" value="<%= booking.bookingPerson %>" required>
            </div>

            <!-- New form group for Notes -->
    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" name="notes" rows="3"><%= booking.notes %></textarea>
    </div>
            

            

            <button type="submit" class="btn btn-primary">Update Booking</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</script>
</body>
</html>
